@use "../settings" as setting;
@use "../tools" as tool;
@use "sass:map";

.c-header {
  display: flex;
  align-items: center;
  padding-top: clamp(setting.f-space-px(s), (setting.breakpoints(overm)), setting.f-space-px(m));
  padding-bottom: clamp(setting.f-space-px(s), (setting.breakpoints(overm)), setting.f-space-px(m));
}

.c-logo-label {
  &--header,
  &--footer {
    font-size: clamp(
      map.get(setting.$fontRemSize, 2xl),
      (setting.breakpoints(overm)),
      map.get(setting.$fontRemSize, 3xl)
    );
  }
}

.c-menu-bars {
  position: relative;
  width: calc(100% - setting.f-space-px(m));
  height: 1px;
  background: var(--c-text-description);
  transition: all ease-out 0.3s;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: var(--c-text-description);
    transition: all ease-out 0.3s;
  }

  &::before {
    top: -9px;
  }

  &::after {
    top: 9px;
  }

  .is-open & {
    background: transparent;

    &::before {
      top: 0;
      transform: rotate(-45deg);
    }

    &::after {
      top: 0;
      transform: rotate(45deg);
    }
  }
}

.c-gnav {
  background: var(--c-bg-secondary);

  @include tool.min-screen(setting.$breakm) {
    padding-right: clamp(
      clamp(setting.f-space-px(m), setting.breakpoints(overm), setting.f-space-px(xl)),
      setting.breakpoints(overs),
      clamp(setting.f-space-px(xl), setting.breakpoints(overm), setting.f-space-px(3xl))
    );
    padding-left: clamp(
      clamp(setting.f-space-px(m), setting.breakpoints(overm), setting.f-space-px(xl)),
      setting.breakpoints(overs),
      clamp(setting.f-space-px(xl), setting.breakpoints(overm), setting.f-space-px(3xl))
    );
  }

  @include tool.max-screen(setting.$underm) {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    padding-right: 0;
    padding-left: 0;

    &--is-open {
      display: block;
    }
  }

  &-item {
    border-color: var(--c-bg-qua);
    border-style: solid;
    border-width: clamp(0px, setting.breakpoints(underm), 1px) 0 0 clamp(0px, setting.breakpoints(overm), 1px);

    &:first-of-type {
      border-top-width: 0;
    }

    &:last-of-type {
      border-right-width: clamp(0px, setting.breakpoints(overm), 1px);
    }
  }

  &-link {
    display: block;
    color: currentcolor;
    transition: all 0.25s ease;

    @include tool.min-screen(setting.$breakm) {
      text-align: center;
    }

    @include tool.max-screen(setting.$underm) {
      padding-right: clamp(setting.f-space-px(m), setting.breakpoints(overs), setting.f-space-px(xl));
      padding-left: clamp(setting.f-space-px(m), setting.breakpoints(overs), setting.f-space-px(xl));
    }

    &--is-current {
      color: var(--c-text-on-fill);
      background-color: var(--c-button-normal);
    }

    &:hover,
    &:focus {
      color: var(--c-text-on-fill);
      background-color: var(--c-text-hover);
    }
  }
}
